.App {
  text-align: center;
  background-attachment: fixed;
  background-image: url('https://i.pinimg.com/originals/19/1b/6d/191b6d669f008bfaf3950dd3e71ec2ca.jpg');
}
.title{
  color:white;
  text-decoration: white;
}
a{
  text-decoration: none;
}
.picker{
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}

